html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: #e0e0e0;
}

.container {
    margin-top: 50px; 
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    text-align: center;
    margin-bottom: 20px; 
    font-weight: bold;
    color: #333333;
    display: flex;
    align-items: center; 
    justify-content: center;
}

h2 img {
    margin-right: 10px; 
}

.form-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px; 
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-control {
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}

.btn-primary {
    background-color: #28a745;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 0 auto; 
}

.btn-danger {
    background-color: #dc3545;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 0 auto;
}

.btn-danger:hover {
    background-color: #c82333;
}
